<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: header (pageTitle=#{title.anhviet}) ">
	<title>chao</title>
</head>
<body>
	<nav th:replace="common/header :: navigation"></nav>

 


	<div class="container">
		<div id="content" class="content">
			<div class="container">
				<div th:each="vocab : ${listVocab}" class="col-xs-12 col-md-4 col-lg-4">
					<div class="vocal" >
					<h2 th:text="${vocab.tuvung}" ></h2>
					<p>- <span th:text="${vocab.vidu1}" ></span> <br/>
					 - <span th:text="${vocab.vidu2}" ></span>
					</p>
					<p>
						<a class="btn btn-primary" href="#" role="button">View details »</a>
					</p>
					</div>
				</div>
			</div>
		</div><!-- end content -->
	</div> <!-- end container -->






<!-- <a th:href="@{/login}"  th:if="${session.user1 != null}" th:text="${session.user1.username}"></a> -->
 




	<div th:replace="common/header :: footer"></div>
</body>
</html>