<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="common/header :: header (pageTitle='log-in') " >
	</head>
	<body>
		<nav th:replace="common/header :: navigation" ></nav>
		<time></time>
	
		<div  class="container">  
			<div id="content" class="content"> 
				<article class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
					<!-- START Login form -->
					<div class="row">
						<!-- Login form -->
						<div class="col-md-6">
							<div class="panel panel-form">
								<!-- Form header -->
								<div class="panel-heading">
									<h2 class="title">Login</h2>
									<p>Don't have an account? <a href="https://0.s3.envato.com/files/114606978/login.html">Create one</a>.</p>
								</div>
								<div class="panel-body">
									<form role="form" method="post" th:action="@{/login}" th:object="${user}" >
										<!-- Username or email -->
										<div class="form-group">
											<label for="username" class="control-label">Username or email</label>
											<div class="has-feedback">
												<input type="text" class="form-control" th:field="${user.username}" id="username" name="username" placeholder="Usename" >
												<span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
											</div>
										</div>
										
										<!-- Password -->
										<div class="form-group">
											<label for="password" class="control-label">Password</label>
											<div class="has-feedback">
												<input type="password" class="form-control" th:field="${user.password}" id="password" name="password" placeholder="Password" >
												<span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
											</div>
										</div>
										
										<input type="text" id="chao" name="chao" />
										
										<!-- Remember checkbox -->
										<div class="form-group">
											<div class="checkbox">
												<label class="custom-option toggle" data-off="OFF" data-on="ON">
													<input type="checkbox" id="remember" name="remember" value="1">
													<span class="button-checkbox"></span>
												</label>
												<label for="remember">Remember Me</label>
											</div>
										</div>
										
										<!-- Logun button -->
										<div class="form-group">
											<button type="submit" class="btn btn-primary">Login</button>
											
											<a class="btn btn-link" href="https://0.s3.envato.com/files/114606978/forgot.html">Forgotten your password?</a>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						<!-- Login with social network -->
						<div class="col-md-6">
							<h2 class="text-center">Login with a social network</h2>
							
							<button type="button" class="btn btn-block btn-facebook btn-lg btn-left-icon">
								<span class="fa fa-facebook" aria-hidden="true"></span> Login with Facebook
							</button>
							
							<button type="button" class="btn btn-block btn-twitter btn-lg btn-left-icon">
								<span class="fa fa-twitter" aria-hidden="true"></span> Login with Twitter
							</button>
							
							<button type="button" class="btn btn-block btn-google btn-lg btn-left-icon">
								<span class="fa fa-google-plus" aria-hidden="true"></span> Login with Google Plus
							</button>
						</div>
						
					</div>
					
					<!-- END Login form -->
					
				</article>
				<div class="clearfix"></div>
			</div>
			
			
			
		</div>
		<div th:replace="common/header :: footer" ></div>
</body>
</html>