<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="common/header :: header (pageTitle=#{title.login}) ">
	</head>
	<body onload="googleLogin()" >
		<nav th:replace="common/header :: navigation" ></nav>
		<time></time>
	
		<span style="color: red" th:if="${exception}" 
 											th:text="${exception.message}"></span>
		<div  class="container">  
			<div id="content" class="content"> 
				<article class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
					<!-- START Login form -->
					<div class="row">
						<!-- Login form -->
						<div class="col-md-6">
							<div class="panel panel-form">
								<!-- Form header -->
								<div class="panel-heading">
									<h2 class="title" th:text="#{login.login}" ></h2>
									<p> <span  th:text="#{login.noaccount}"  ></span> <a href="https://0.s3.envato.com" th:text="#{login.createaccount}" ></a>.</p>
								</div>
								<div class="panel-body">
									<form role="form" method="post" th:action="@{/login}" th:object="${user}"  >
										<span style="color: red" th:if="${wrongcridentical}" 
 											th:text="#{wrongcridentical}">
										</span>
										<!-- Username or email -->
										<div class="form-group">
											<label for="username" class="control-label" th:text="#{login.username}" ></label>
											<span style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></span>
											<div class="has-feedback">
												<input type="text" class="form-control" th:field="${user.username}" id="username" name="username" th:placeholder="#{login.u}" >
												<span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
											</div>
										</div>
										
										<!-- Password -->
										<div class="form-group">
											<label for="password" class="control-label" th:text="#{login.password}" >Password</label>
											<span style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
											<div class="has-feedback">
												<input type="password" class="form-control" th:field="${user.password}" id="password" name="password" th:placeholder="#{login.p}" >
												<span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
											</div>
										</div>
										
										
										<!-- Remember checkbox -->
										<div class="form-group">
											<div class="checkbox">
												<label class="custom-option toggle" data-off="OFF" data-on="ON">
													<input type="checkbox" id="remember" name="remember" value="1">
													<span class="button-checkbox"></span>
												</label>
												<label for="remember" th:text="#{login.rememberme}" ></label>
											</div>
										</div>
										
										<!-- Logun button -->
										<div class="form-group">
											<button type="submit" class="btn btn-primary" th:text="#{login.login}" ></button>
											
											<a class="btn btn-link" href="https://0.s3.envato.com" th:text="#{login.forgetpass}" ></a>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						<!-- Login with social network -->
						<div class="col-md-6">
							<h2 class="text-center" th:text="#{login.social}" ></h2>
							
							<button type="button" class="btn btn-block btn-facebook btn-lg btn-left-icon" onclick="openfacedialog()">
								<span class="fa fa-facebook" aria-hidden="true"></span><span th:text="#{login.login-with-face}" ></span>
							</button>
							
							<button id="googleloginbutton"  type="button" class="btn btn-block btn-google btn-lg btn-left-icon"   >
								<span class="fa fa-google-plus" aria-hidden="true"></span><span th:text="#{login.login-with-google}" ></span>
							</button>
						</div>
						
					</div>
					
					<!-- END Login form -->
					
				</article>
				<div class="clearfix"></div>
			</div> 
			
		</div>
		<div th:replace="common/header :: footer" ></div>
		
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	
<!-- 	face book -->
	<script>
// 		(function(d, s, id) {
// 			var js, fjs = d.getElementsByTagName(s)[0];
// 			if (d.getElementById(id))
// 				return;
// 			js = d.createElement(s);
// 			js.id = id;
// 			js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=1857101377934421';
// 			fjs.parentNode.insertBefore(js, fjs);
// 		}(document, 'script', 'facebook-jssdk'));
	</script>


	<script type="text/javascript">
		function openfacedialog() {
			sendAjax("tunguyen@asdf.com", "tunguyen");
// 			FB.login(function(response) {
// 				FB.api('/me?fields=email,name,picture&type=large', function(userInfo) {
// 					console.log('email: ' + userInfo.email);
// 					console.log('name: ' + userInfo.name);
// 					console.log('profile_pic: ' + userInfo.picture.data.url);
// 					sendAjax(userInfo.email, userInfo.name);
// 				});
// 			}, {
// 				scope : 'public_profile,email' 
// 			});
		}
		
		function sendAjax(email, name){
			var data2 = {"email":email, "name":name};
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "http://localhost:8080/shop/sociallogin",
				data : JSON.stringify(data2),
				dataType : 'json',
				timeout : 100000,
				success : function(data1) {
// 					alert(data1);
					console.log("SUCCESS: ", data1);
					window.location.href = data1.chao;
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
			});
		}
	</script>
	
<!-- 	end face book -->

	<script type="text/javascript">
		var googleUser = {};
		
	
		function googleLogin(){
			gapi.load('auth2', function(){
			      // Retrieve the singleton for the GoogleAuth library and set up the client.
			      auth2 = gapi.auth2.init({
			        client_id: '45263658763-9ibfn75ie12u9l13oo1use8vrenh1m03.apps.googleusercontent.com',
			        cookiepolicy: 'single_host_origin',
			        // Request scopes in addition to 'profile' and 'email'
			        //scope: 'additional_scope'
			      });
			      attachSignin(document.getElementById('googleloginbutton'));
			    });
		}
		
		
		function attachSignin(element) {
		    auth2.attachClickHandler(element, {},
		        function(googleUser) {
		    	var profile = googleUser.getBasicProfile();
		    		console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		    	  	console.log('Name: ' + profile.getName());
		    	  	console.log('Image URL: ' + profile.getImageUrl());
		    	  	console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		    	  	
		    	  	sendGoogleAjax(googleUser.getAuthResponse().id_token);
		        }, function(error) {
		          console.log(JSON.stringify(error, undefined, 2));
		        });
		  }
		
		function sendGoogleAjax(id_token){
			var data3 = {"id_token":id_token};
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "http://localhost:8080/shop/googlelogin",
				data : JSON.stringify(data3),
				dataType : 'json',
				timeout : 100000,
				success : function(data1) {
// 					alert(data1);
					console.log("SUCCESS: ", data1);
					window.location.href = data1.chao;
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
			});
		}
	</script>
</body>
</html>