<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="common/header :: header (pageTitle=#{title.login}) ">
	</head>
	<body>
		<nav th:replace="common/header :: navigation" ></nav>
		<time></time>
	
		<div  class="container">  
			<div id="content" class="content"> 
				<article class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
					<!-- START Login form -->
					<div class="row">
						<!-- Login form -->
						<div class="col-md-6">
							<div class="panel panel-form">
								<!-- Form header -->
								<div class="panel-heading">
									<h2 class="title" th:text="#{login.login}" >Login</h2>
									<p> <span  th:text="#{login.noaccount}"  ></span> <a href="https://0.s3.envato.com/files/114606978/login.html" th:text="#{login.createaccount}" ></a>.</p>
								</div>
								<div class="panel-body">
									<form role="form" method="post" th:action="@{/login}" th:object="${user}" >
										<!-- Username or email -->
										<div class="form-group">
											<label for="username" class="control-label" th:text="#{login.username}" ></label>
											<span class="text-danger" >Bạn chưa nhập username</span>
											<div class="has-feedback">
												<input type="text" class="form-control" th:field="${user.username}" id="username" name="username" th:placeholder="#{login.u}" >
												<span class="fa fa-user form-control-feedback" aria-hidden="true"></span>
											</div>
										</div>
										
										<!-- Password -->
										<div class="form-group">
											<label for="password" class="control-label" th:text="#{login.password}" >Password</label>
											<div class="has-feedback">
												<input type="password" class="form-control" th:field="${user.password}" id="password" name="password" th:placeholder="#{login.p}" >
												<span class="fa fa-lock form-control-feedback" aria-hidden="true"></span>
											</div>
										</div>
										
										
										<!-- Remember checkbox -->
										<div class="form-group">
											<div class="checkbox">
												<label class="custom-option toggle" data-off="OFF" data-on="ON">
													<input type="checkbox" id="remember" name="remember" value="1">
													<span class="button-checkbox"></span>
												</label>
												<label for="remember" th:text="#{login.rememberme}" ></label>
											</div>
										</div>
										
										<!-- Logun button -->
										<div class="form-group">
											<button type="submit" class="btn btn-primary" th:text="#{login.login}" ></button>
											
											<a class="btn btn-link" href="https://0.s3.envato.com/files/114606978/forgot.html" th:text="#{login.forgetpass}" ></a>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						<!-- Login with social network -->
						<div class="col-md-6">
							<h2 class="text-center" th:text="#{login.social}" ></h2>
							
							<button type="button" class="btn btn-block btn-facebook btn-lg btn-left-icon">
								<span class="fa fa-facebook" aria-hidden="true"></span><span th:text="#{login.login-with-face}" ></span>
							</button>
							
							<button type="button" class="btn btn-block btn-twitter btn-lg btn-left-icon">
								<span class="fa fa-twitter" aria-hidden="true"></span><span th:text="#{login.login-with-twit}" ></span>
							</button>
							
							<button type="button" class="btn btn-block btn-google btn-lg btn-left-icon">
								<span class="fa fa-google-plus" aria-hidden="true"></span><span th:text="#{login.login-with-google}" ></span>
							</button>
						</div>
						
					</div>
					
					<!-- END Login form -->
					
				</article>
				<div class="clearfix"></div>
			</div>
			
			
			
		</div>
		<div th:replace="common/header :: footer" ></div>
</body>
</html>