<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="common/header :: header (pageTitle=#{title.newword}) ">
	</head>
	<body >
		<nav th:replace="common/header :: navigation" ></nav>
		<time></time>
<!-- ********************************************************* -->
		<div  class="container">  
			<div id="content" class="content"> 
				<article class="col-sm-6 col-md-8 col-sm-offset-3 col-md-offset-2">
					<!-- START Login form -->
					<div class="row">
						<!-- Login form -->
						<div class="col-md-6">
							<div class="panel panel-form">
								<!-- Form header -->
								<div class="panel-heading">
									<h2 class="title" th:text="#{newword.addword}" ></h2>
								</div>
								<div class="panel-body">
									<form role="form" method="post" th:action="@{/newword}" th:object="${vocab}"  >
										<span style="color: red" th:if="${wrongcridentical}" 
 											th:text="#{wrongcridentical}">
										</span>
										<!-- tuvung -->
										<div class="form-group">
											<label for="tuvung" class="control-label" th:text="#{newword.tuvung}" ></label>
											<span style="color: red" th:if="${#fields.hasErrors('tuvung')}" th:errors="*{tuvung}"  ></span>
											<div class="has-feedback">
												<input autofocus type="text" class="form-control" th:field="${vocab.tuvung}" id="tuvung" name="tuvung" th:placeholder="#{newword.vocab}" >
											</div>
										</div>
										
										<!-- nghia -->
										<div class="form-group">
											<label for="nghia" class="control-label" th:text="#{newword.nghia}" ></label>
											<span style="color: red" th:if="${#fields.hasErrors('nghia')}" th:errors="*{nghia}"  ></span>
											<div class="has-feedback">
												<input autofocus type="text" class="form-control" th:field="${vocab.nghia}" id="nghia" name="nghia" th:placeholder="#{newword.nghia}" >
											</div>
										</div>
										
										<!-- vi du 1 -->
										<div class="form-group">
											<label for="vidu1" class="control-label" th:text="#{newword.vidu1}" ></label>
											<span style="color: red" th:if="${#fields.hasErrors('vidu1')}" th:errors="*{vidu1}"  ></span>
											<div class="has-feedback">
												<input autofocus type="text" class="form-control" th:field="${vocab.vidu1}" id="vidu1" name="vidu1" th:placeholder="#{newword.vidu1}" >
											</div>
										</div>
										
										<!-- vi du 2 -->
										<div class="form-group">
											<label for="vidu2" class="control-label" th:text="#{newword.vidu2}" ></label>
											<span style="color: red" th:if="${#fields.hasErrors('vidu2')}" th:errors="*{vidu2}"  ></span>
											<div class="has-feedback">
												<input autofocus type="text" class="form-control" th:field="${vocab.vidu2}" id="vidu2" name="vidu2" th:placeholder="#{newword.vidu2}" >
											</div>
										</div>
										
										<!-- tu loai -->
										<div class="form-group">
										  <label for="tuloai" class="control-label" th:text="#{newword.tuloai}" ></label>
										  <span style="color: red" th:if="${#fields.hasErrors('tuloai')}" th:errors="*{tuloai}"  ></span>
										  <select class="form-control" th:field="${vocab.tuloai}" id="tuloai" name="tuloai">
										    <option value="danhtu" th:text="#{newword.tuloai.danhtu}" ></option>
										    <option value="dongtu" th:text="#{newword.tuloai.dongtu}" ></option>
										    <option value="tinhtu" th:text="#{newword.tuloai.tinhtu}" ></option>
										    <option value="trangtu" th:text="#{newword.tuloai.trangtu}" ></option>
										    <option value="khac" th:text="#{newword.tuloai.khac}" ></option>
										  </select>
										</div>
										
										<!-- tu dong nghia -->
										<div class="form-group">
											<label for="tudongnghia" class="control-label" th:text="#{newword.tudongnghia}" ></label>
											<span style="color: red" th:if="${#fields.hasErrors('tudongnghia')}" th:errors="*{tudongnghia}"  ></span>
											<div class="has-feedback">
												<input autofocus type="text" class="form-control" th:field="${vocab.tudongnghia}" id="tudongnghia" name="tudongnghia" th:placeholder="#{newword.tudongnghia}" >
											</div>
										</div>
										
										<!-- tutrainghia -->
										<div class="form-group">
											<label for="tutrainghia" class="control-label" th:text="#{newword.tutrainghia}" ></label>
											<span style="color: red" th:if="${#fields.hasErrors('tutrainghia')}" th:errors="*{tutrainghia}"  ></span>
											<div class="has-feedback">
												<input autofocus type="text" class="form-control" th:field="${vocab.tutrainghia}" id="tutrainghia" name="tutrainghia" th:placeholder="#{newword.tutrainghia}" >
											</div>
										</div>
									  
									  	<!-- ghichu -->
										<div class="form-group">
											<label for="ghichu" class="control-label" th:text="#{newword.ghichu}" ></label>
											<span style="color: red" th:if="${#fields.hasErrors('ghichu')}" th:errors="*{ghichu}"  ></span>
											<div class="has-feedback">
												<input autofocus type="text" class="form-control" th:field="${vocab.ghichu}" id="ghichu" name="ghichu" th:placeholder="#{newword.ghichu}" >
											</div>
										</div>
										
										<!-- Logun button -->
										<div class="form-group">
											<button type="submit" class="btn btn-primary" th:text="#{login.login}" ></button>
										</div>
									</form>
								</div>
							</div>
						</div>
						
					</div>
					
					<!-- END Login form -->
					
				</article>
				<div class="clearfix"></div>
			</div> 
			
		</div>



<!-- ********************************************************** -->
		<div th:replace="common/header :: footer" ></div>
		
	</body>
</html>